@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: grey;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
}
